* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* ----------
  needed variable
  -------------- */
:root {
    --seranade: #FFF4E7;
    --dark-orange: #FF900E;
}

/*-------
  header styles start
  ----------- */
.header {
    background-color: var(--seranade);
}

/* nav start */
.nav {
    display: flex;
    justify-content: space-between;
    margin-left: 228px;
    margin-right: 240px;
    padding-top: 55px;
    align-items: center;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.nav>ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
}

/* nav end */
/* architect start */
.architect {
    text-align: center;
    margin-top: 105px;
}

.architect-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 35px;
}

.architect-description {

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.architect-btn {
    width: 180px;
    height: 64px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background-color: var(--dark-orange);
    border: none;
    border-radius: 5px;
    margin-top: 33px;
    margin-bottom: 50px;
}

/* architect end */
/* banner start */
.banner {
    margin-left: 209px;
    margin-right: 271px;
    padding-left: 31px;
    margin-bottom: 85px;
}

.banner-image {
    width: 100%;
    margin-bottom: 45px;
}

/* banner end */
/* -------
   header end
   ------- */
/* image-section start */
.image-section {
    margin-left: 300px;
    display: flex;
    gap: 73px;
    margin-right: 300px;
    margin-top: 85px;
}
.section-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 77.5vh;
}
.section-image>img {
    width: 100%;
}
.general {
    font-weight: 700;
    font-size: 45px;
}
.image-section-title {
    color: #727272;
}

.our {
    color: #131313;
}

.features {
    margin: auto 0px;
}
.feature {
    color: var(--dark-orange);
}
.image-section-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 25px;
}
/* image section end */
/* service section start*/
.service-section {
    display: flex;
    margin: 0px 240px;
    gap: 85px;
    margin-top: 130px;
}

.service-title {
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid var(--dark-orange);
    padding-left: 21px;
    margin-bottom: 24px;
}

.service-description {
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
}

.service {
    margin-bottom: 20px;
    width: 586px;
    height: 171px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 30px 30px 42px;
}

.service-subtitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

.subtitle-description {
    font-weight: 400;
    font-size: 16px;
}

.girl>img {
    width: 71vh;
}

.service-btn {
    background-color: var(--dark-orange);
    width: 342px;
    height: 200px;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    margin-bottom: 0px;
    position: relative;
    bottom: 123px;
    right: 50px;

}

.btn {
    /* padding-top: 0px;
    margin-top: 0px;
    font-weight: 500; */
    font-size: 25px;
    text-align: center;
}

/* image section end */
/* some facts section start */
.some-facts {
    margin-top: 130px;
    margin-left: 240px;
}

.some-facts-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.some-facts-description {
    font-weight: 400;
    font-size: 16px;
}

/* some facts section end */
/* facts section start */
.facts {
    display: flex;
    gap: 120px;
    margin: 0px 290px;
    margin-top: 100px;
    margin-bottom: 180px;
}

.fact {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 35px 58px 36px;
    text-align: center;
    width: 241.83px;
    height: 241.83px;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
}

.number {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-bottom: 5px;
    margin-top: 9px;
}

.fact:hover {
    transform: rotate(360deg);
}

.fact-description {
    font-weight: 600;
    font-size: 15px;
    color: #727272;
}

/* facts section end */
/* sponsors section start */
.sponsors {
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.sponsors-description {
    font-weight: 400;
    font-size: 16px;
}

/* sponsors end */
/* sponsor brand section start */
.sponsor-brand {
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    gap: 155px;
    margin-bottom: 130px;
}

.sponsor-image>img {
    width: 15vh;
    filter: grayscale(1);
}

/* sponsor brand section end */
/* contact section start */
.contact {
    background-color: white;
}
.div {
    text-align: center;
    padding-top: 70px;
    background-color: aqua;
    height: 500px;
    width: 500px;
    margin: 0px auto;
    border-radius: 10px;
}

.contact-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.info {
    height: 50px;
    width: 400px;
    margin-bottom: 30px;
    padding: 14px 20px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

/* contact section end */
/*--------------
main section end
---------------- */
.footer {
    text-align: center;
    background-color: var(--seranade);
    padding: 38px 0px;
    margin: 119px auto 229px auto;
    width: 140vh;
}
.footer-description {
    font-weight: 400px;
    font-size: 20px;
}
@media screen and (max-width:576px) {
    .header{
        width:100%;
    }
    .nav{
        flex-direction: column;
        gap: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav>ul{
        gap: 20px;
    }
    .nav-title{
        font-size: 25px;
        line-height: 10px;
    }
    .architect {
        text-align: center;
        margin-top: 50px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .architect-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 35px;
    }
    .banner {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-left: 3%;
    }
    
    .banner-image {
        width: 100%;
        margin-bottom: 45px;
    }
    .image-section{
        flex-direction: column;
        margin-left: 0px;
        width: 100%;

    }
    .section-images{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .section-image{
        width: 100%;
        padding-left: 10%;
    }
    .section-image>img{
        width: 80% ;
        height:70% ;
    }
    .service-title {
        font-weight: 700;
        font-size: 2em;
        border-left: 5px solid var(--dark-orange);
        padding-left: 4%px;
        margin-bottom: 5%;
    }
    .image-section-title {
        color: #727272;
    }
    .features{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: ;
    }
    .service-section {
        flex-direction: column;
        margin: 0px 0px 0px 18px;
        gap: 20px;
        margin-top: 30px;
    }
    .service {
        margin-bottom: 20px;
        width: 95%;
        height: 70%;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        padding: 30px 0px 30px 42px;
    }
    .girl>img{
        width: 85%;
        height: 40%;
    }
    .service-btn{
        position: static;
        width: 40%;
        height: 3em;
        background-color: var(--dark-orange);
        color: white;
        border: none;
        border-radius: 5px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        margin-top: 5px;
    }
    .some-facts {
        margin-top: 15%;
        margin-left: 5%;
        margin-right: auto;
        width: 80%;
    }
    
    .some-facts-title {
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .some-facts-description {
        font-weight: 400;
        font-size: 15px;
    }
    .facts{
        display: grid;
        grid-template-columns:1fr;
        margin-left: 20%;
        margin-right: auto;
        gap: 5%;
        margin-bottom: ;
    }
    .fact{
        width: 30vh;
    }
    .sponsor-brand {
        margin-left: 20%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin-bottom: 130px;
        margin-top: 15%;
    }
    .contact{
        margin-left: 4%;
        width: 90%;
    }
    .contact-title {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .info {
        height: 50px;
        width: 70%;
        margin-bottom: 30px;
        padding: 14px 20px;
        font-size: 10px;
        border: none;
        border-radius: 5px;
    }
    .div{
        width: 100%;
    }
    .footer {
        text-align: center;
        background-color: var(--seranade);
        padding: 38px 0px;
        margin: 40px auto 50px auto;
        width: 80%;
        
    }
    .main{
       max-width: 100%;
    }
    
}